h1, h2, h3 , h4, h5 , h6, p, li {
    text-align: left;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.664);
}

.bottom-footer {
    border-top: solid 1px lightgray;
    background-color: grey;
}

.bottom-footer p {
    text-align: center;
    line-height: 10%;
    font-size: 12px;
    margin-top: 1%;
    color: azure;
}